.product__image {
    margin-top: 30px;
    width: 100%;
    height: 150px;
    object-fit: contain;
    background-color: #ffffff;
}

.product__description {
    min-height: 100px;
}

.product__price {
    min-height: 20px;
    color: green;
}
